In [9]:
import pandas as pd
import numpy as np
from sklearn.cluster import MeanShift

In [32]:
office=np.loadtxt('office.csv', delimiter = ",")
data = pd.read_csv('checkins.dat', sep='|', skipinitialspace=True).dropna()
data.columns
data=data.drop(['id    ','user_id ','venue_id ','created_at      '],axis=1)

c:\program files\python37\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [33]:
data.columns

Index(['latitude      ', 'longitude     '], dtype='object')

In [34]:
X=data[:100000]
X

        latitude        longitude
2            38.895112      -77.036366
4            33.800745      -84.410520
8            45.523452     -122.676207
10           40.764462     -111.904565
11           33.448377     -112.074037
...                ...             ...
233789       33.575000     -117.725556
233790       37.629349     -122.400087
233794       29.762884      -95.383061
233798       32.802955      -96.769923
233799       37.774929     -122.419415

[100000 rows x 2 columns]

In [35]:
clustering = MeanShift(bandwidth=0.1).fit(X)
centeres=clustering.cluster_centers_

ValueError: too many values to unpack (expected 2)

In [43]:
dist=np.inf

for i,j in zip(centeres,office):
    
    if(np.linalg.norm(i-j)<dist):
        banner=i

In [45]:
f=open('1.txt','w')
f.write(str(banner))
f.close()